.navbar {
    display: flex;
    justify-content: top;
    align-items: center;
    background-color: #4a4646;
    padding: 1rem;
}

.logo {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 12rem;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #797878;
}
