.navbar {
    display: flex;
    justify-content: top;
    align-items: center;
    background: linear-gradient(to right, #92cfca, #baabef);
    padding: 1rem;
}

.logo {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 4rem;
    position: center;
}

.nav-links li {
    margin: 10;
    white-space: nowrap;  
}

.nav-links a {
    color: blue;
    padding: 1%;
    transition: background-color 0.5s;
}

.nav-links a:hover {
    background-color: #dadada;
}

.header{
    color: red;
}
label{
    
}

@media all and (max-width: 1000px) {
    
}